section{
  max-width: 1024px;
  margin: 0 auto;
}

.bubble-container{
  max-width: 1024px;
  margin: 0 auto;
}

.first-bubble{
  margin: 25px 0;
  margin-left: 20%;
}

.frst-bubble-text{
  border: solid #035535 3px;
  border-radius: 5px;
  max-width: 65%;
  padding: 3%;
  display: inline-block;
}

.bubble-text{
  width: 70%
}

.first-bubble-image{
  display: inline;
}

.first-bubble-image img{
  border: solid #035535 3px;
  border-radius: 50%;
  display: inline;
  margin-left: -8em;
}

.second-bubble{
  margin: 25px 0;
  margin-left: 20%;
}

.second-bubble-text{
  outline: solid #035535 3px;
  border-radius: 5px;
  max-width: 65%;
  padding: 3%;
  display: inline-block;
  z-index: -1;
}

.second-bubble-text p{
  margin-left: 8em;
}

.second-bubble-image{
  display: inline;
  position: relative;
}

.second-bubble-image img{
  border: solid #035535 3px;
  border-radius: 50%;
  display: inline;
  margin-right: -8em;
  z-index: 1;
}

#sex-drive{
  height: 2.5em;
}

/*section4.html*/
.testimonial{
  background-color: #DAE616;
  margin: 20px 0;
  padding: 1em;
  border: solid 2px black;
  border-radius: 5px;
  -moz-box-shadow: 0 0 25px #111;
  -webkit-box-shadow: 0 0 25px #111;
  box-shadow: 0 0 25px #111;
}

.testimonial p{
  font-style: italic;
  font-weight: 600;
}

.testimonial-margin{
  margin: 15px 0;
}
/*bubble-text section*/
.bubble-text{

}

.bubble-1{
  margin: 1em auto;
}

.bubble-1 p{
  display: inline;
  border: solid #035535 3px;
  border-radius: 5px;
  padding: 2em;
}

.bubble-1 img {
  border: solid #035535 3px;
  border-radius: 50%;
  display: inline;
  margin-left: -25px;
}

.bubble-2{
  margin: 1em auto;
}

.bubble-2 p{
  display: inline;
  border-top: solid #035535 3px;
  border-bottom: solid #035535 3px;
  border-right: solid #035535 3px;
  border-radius: 5px;
  padding: 2em;
}

.bubble-2 img {
  border: solid #035535 3px;
  border-radius: 50%;
  display: inline;
  margin-right: -19px;
}

/*.b-two{
  margin-left: 18%;
}

.b-three{
  margin-left: 18%;
}*/

.testimonial-customer{
  margin-top: 7em;
}

.testimonial-image-text{
  margin-top: 0;
}

.guy-image{
  z-index: -1;
}

.look-inside{
  background-image: url("../img/womansleeping.jpg");
  background-repeat: no-repeat;
  background-size: 70% 100%;
}
.look-inside-border{
  width: 56%;
  margin-left: 44%;
  background-color: #035535;
  padding: 2em 1.5em;
}

.look-inside-text{
  border: solid #08B16F 2px;
  padding: 1.5em 1.5em;
  color: white;
  border-radius: 5px;
}

.secret-cycle{
  background-color: white;
  background-image: url("../img/hidingwomanedit.png");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position-x: 100%;
  height: 100%;
  padding: 1em 0;
}

.secret-cycle-text{
  width: 73%;
  height: 400px;
  background-color: white;
  border: solid #035535 3px;
  border-radius: 10px;
  padding: 3em;
}

.make-life-easier{
  background-image: url("../img/softgreenbg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  padding: 1% 10%;
}

.scale{
  margin: 1.5em 0;
}

.scale-image img{
  margin-top: 10%;
}

.scale-full-width-text{
  margin: 1.5em 0;
}

.insomnia-book{
  border: solid #0E5C3E 2px;
  border-radius: 5px;
  width: 49%;
  margin-left: 1%;
}

.headache-book{
  border: solid #0E5C3E 2px;
  border-radius: 5px;
  width: 49%;
  margin-left: 1%;

}

.book-image{
  padding-top: 3%;
}

.book-image img{
  margin: 0 auto;
}

.book-description{
  margin-top: -15%;
  margin-bottom: 5%;
}

.book-description-head{
  margin-bottom: 17%;
}

.price-tag{
  background-image: url("../img/green-bg-6.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1% 10%;
}

.gym-membership{
  height: 350px;
  background-image: url("../img/gymbuddies.jpg");
  background-repeat: repeat-x;
  background-size: 50% 100%;
}

.gym-text{
  height: 100%;
  background-color: #11724C;
  width: 50%;
  padding: 2em 3.5em;
}

.gym-text-border{
  border: solid #6CC8A4 3px;
  border-radius: 5px;
  color: white;
  padding: 4.5em 3.5em;
}

.one-payment{
  background-color: #06452D;
  color: white;
  position: relative;
}

.one-payment:before{
  content:"";
  position: absolute;
  left: 20%;
  top: 99%;
  width: 30px;
  height: 30px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid #06452D;
}

.one-payment h1{
  padding: 10px 0;
}

.order-below p{
  text-align: center;
}
/*section4.html end*/



/*section5.html*/
.image-center{
  margin: 25px auto;
}
/*guarantee section*/
.guarantee-center{
  text-align: center;
}

/*testimonial section*/


/*simple-area section*/
.simple-area{
  background-image: url("../img/simplegreen.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  padding: 1% 10%;
}

/*vision-answer section*/
.vision-answer{
  padding: 1em;
}

.vision-answer-border{
  border: solid 3px #035535;
  border-radius: 20px;
  padding: 1em 2em;
}

.girl-pointing{
  height: 100%;
  margin-top: 20%;
}

/*guarantee-2 section*/
.guarantee-2{
  margin-top: -15px;
}

/*lowered-price section*/
.lowered-price{
  background-image: url("../img/coolkids.jpg");
  background-repeat: no-repeat;
  background-size: 80% 100%;
}
.lowered-price-border{
  width: 56%;
  margin-left: 44%;
  background-color: #1E8D62;
  padding: 2em 1.5em;
}

.lowered-price-text{
  border: solid #0B3122 2px;
  padding: 1.5em 1.5em;
  color: white;
  border-radius: 5px;
}

/*smart-thing section*/
.smart-thing{
  background-image: url("../img/simpleareabg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  padding: 1% 10%;
}
/*end of section5.html*/





/*Bottom.html section*/
/*Still here area*/
.still-here{
  margin: 1em 5%;
}

.still-here-image img{
  display: block;
  margin: auto;
}

.still-here-text{
  margin-top: 1em;
}
/*Question and Answer Section*/
.common-question{
  background: #074E13;
  margin: 30px auto;
  padding: 0 5px;
  padding-bottom: 10px;
  padding-top: 3%;
  width: 90%;
  min-width: 400px;
}

.common-question-answer{
  color: white;
  border: solid black 2px;
  margin: 0 15px 10px 15px;
  padding: 0 15px;
  padding-top: 0%;
}

.common-question-question{
  color: white;
  background-color: #1F1E1C;
  width: 110%;
  margin-left: -5%;
  margin-bottom: 30px;
  margin-top: -0.5%;
  height: 10%;
  padding: 1em 5em;
  -moz-box-shadow: 0 0 50px #111;
  -webkit-box-shadow: 0 0 50px #111;
  box-shadow: 0 0 50px #111;
}

.common-question-question p{
  font-weight: 700;
  font-style: italic;
}

@media screen and (max-width: 320px) {
  .second-bubble-text p{
    margin-left: 7em;
  }
}

@media screen and (max-width: 400px) {
  body{
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .mobile-margin-fix{
    margin-top: -3em;
  }
  .second-bubble-text p{
    margin-left: 7em;
  }
  .guy-image{
    margin-top: 4.1em;
  }
  .secret-cycle-text{
    padding: 1.5em;
  }
  .scale-image img{
    margin: 0 auto;
  }
  .scale-text{
    padding: 0 2em;
  }
  .scale-full-width-text{
    padding: 0 2em;
  }
  .insomnia-book{
    margin: 1% auto;
  }
  .headache-book{
    margin: 0 auto;
  }
  .gym-text-border{
    padding: 1.7em 2.5em;
  }
  .gym-membership{
    background-repeat: no-repeat;
    background-position-x: 115%;
    background-size: 75% 100%;
  }
  .future{
    padding: 0 2em;
  }
  .one-payment:before{
    left: 15%;
  }
}

@media screen and (max-width: 640px) {
  .second-bubble-text p{
    margin-left: 6em;
  }
  .guy-image {
    margin-top: 9em;
  }
  .look-inside-border {
    width: 100%;
    margin-left: 0%;
  }
  .secret-cycle{
    background-image: none;
  }
  .secret-cycle-text {
    width: 100%;
    height: 100%;
  }
  .gym-membership {
    background-image: none;
  }
  .gym-text {
    height: 100%;
    width: 100%;
  }
  .gym-text-border {
    padding: 5em 5em;
  }
  .one-payment:before{
    left: 5%;
  }
}

@media screen and (max-width: 600px) {
  #jumping-margin-fix{
    margin-bottom: 3em;
  }
  .second-bubble-text p {
    margin-left: 5.5em;
  }
  .guy-image {
    display: none;
  }
  .testimonial-customer{
    margin: 0px 15%;
  }
}

@media screen and (max-width: 500px) {
  #sex-drive{
    height: 4em;
  }
  .first-bubble-image{
    display: none;
  }
  .second-bubble-image{
    display: none;
  }
  .bubble-text{
    margin: 0 auto;
  }
  .second-bubble-text p{
    margin: 0 auto;
  }
}
