section{
  max-width: 1024px;
  margin: 0 auto;
}

/*section4.html*/
.testimonial{
  background-color: #DAE616;
  margin: 20px 0;
  padding: 1em;
  border: solid 2px black;
  border-radius: 5px;
  -moz-box-shadow: 0 0 25px #111;
  -webkit-box-shadow: 0 0 25px #111;
  box-shadow: 0 0 25px #111;
}

.testimonial p{
  font-style: italic;
  font-weight: 600;
}
/*bubble-text section*/
.bubble-text{

}

.bubble-1{
  margin: 1em auto;
}

.bubble-1 p{
  display: inline;
  border: solid #035535 3px;
  border-radius: 5px;
  padding: 2em;
}

.bubble-1 img {
  border: solid #035535 3px;
  border-radius: 50%;
  display: inline;
  margin-left: -25px;
}

.bubble-2{
  margin: 1em 5%;
}

.bubble-2 p{
  display: inline;
  border-top: solid #035535 3px;
  border-bottom: solid #035535 3px;
  border-right: solid #035535 3px;
  border-radius: 5px;
  padding: 2em;
}

.bubble-2 img {
  border: solid #035535 3px;
  border-radius: 50%;
  display: inline;
  margin-right: -19px;
}

.testimonial-customer{
  margin-top: 7em;
}

.testimonial-image-text{
  margin-top: 0;
}

.look-inside{
  background-image: url("../img/womansleeping.jpg");
  background-repeat: no-repeat;
  background-size: 70% 100%;
}
.look-inside-border{
  width: 56%;
  margin-left: 44%;
  background-color: #035535;
  padding: 2em 1.5em;
}

.look-inside-text{
  border: solid #08B16F 2px;
  padding: 1.5em 1.5em;
  color: white;
  border-radius: 5px;
}

/*section4.html end*/



/*section5.html*/
.image-center{
  margin: 25px auto;
}
/*guarantee section*/
.guarantee-center{
  text-align: center;
}

/*testimonial section*/


/*simple-area section*/
.simple-area{
  background-image: url("../img/simplegreen.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  padding: 1% 10%;
}

/*vision-answer section*/
.vision-answer{
  padding: 1em;
}

.vision-answer-border{
  border: solid 3px #035535;
  border-radius: 20px;
  padding: 1em 2em;
}

.girl-pointing{
  height: 100%;
  margin-top: 20%;
}

/*guarantee-2 section*/
.guarantee-2{
  margin-top: -15px;
}

/*lowered-price section*/
.lowered-price{
  background-image: url("../img/coolkids.jpg");
  background-repeat: no-repeat;
  background-size: 80% 100%;
}
.lowered-price-border{
  width: 56%;
  margin-left: 44%;
  background-color: #1E8D62;
  padding: 2em 1.5em;
}

.lowered-price-text{
  border: solid #0B3122 2px;
  padding: 1.5em 1.5em;
  color: white;
  border-radius: 5px;
}

/*smart-thing section*/
.smart-thing{
  background-image: url("../img/simpleareabg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  padding: 1% 10%;
}
/*end of section5.html*/





/*Bottom.html section*/
/*Still here area*/
.still-here{
  margin: 1em 5%;
}

.still-here-image img{
  display: block;
  margin: auto;
}

.still-here-text{
  margin-top: 1em;
}
/*Question and Answer Section*/
.common-question{
  background: #074E13;
  margin: 30px auto;
  padding: 0 5px;
  padding-bottom: 10px;
  padding-top: 3%;
  width: 90%;
  min-width: 400px;
}

.common-question-answer{
  color: white;
  border: solid black 2px;
  margin: 0 15px 10px 15px;
  padding: 0 15px;
  padding-top: 0%;
}

.common-question-question{
  color: white;
  background-color: #1F1E1C;
  width: 110%;
  margin-left: -5%;
  margin-bottom: 30px;
  margin-top: -0.5%;
  height: 10%;
  padding: 1em 5em;
  -moz-box-shadow: 0 0 50px #111;
  -webkit-box-shadow: 0 0 50px #111;
  box-shadow: 0 0 50px #111;
}

.common-question-question p{
  font-weight: 700;
  font-style: italic;
}

@media screen and (max-width: 400px) {
  body{
    max-width: 400px;
  }
}
