body{
  margin: 0;
  padding: 0;
}
h1 {
   text-align: center;
}
ul {
  margin-top: 50px;
}
li {
  list-style: circle;
}
.page-container {
  width: 100%;
  margin: auto;
}
.cuffs-container {
  border: solid 3px green;
  width: 80%;
  margin: auto;
}
.content-cuffs {
  width: 100%;
  background:radial-gradient(ellipse at center, rgba(191,255,232,1) 0%, rgba(2,129,80,1) 100%);
  padding: 10px;
}
.content {
  padding: 10px;
  background-color: #99e5ae;
}
.heart-container {
  background: url('../img/heart-bg.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 1em;
}
.heart-content {
  background-color: rgba(255,255,255,0.6);
  border-radius: 10px;
  border: 2px solid black;
  width: 500px;
  margin-left: 40px;
  padding: 10px;
}
.depressed-man {
  background-color: #035535;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.depressed-man-content {
  width: 45%;
  margin: 10px;
  margin-right: 40px;
  color: white;
  border: solid 2px #99e5ae;
  padding: 10px;
}
#ithappened {
  width: 100%;
  background-color: #0dbf7a;
  padding: 10px;
  position: relative;
}
#ithappened:before {
  content:"";
  position: absolute;
  right: 80%;
  top: 100%;
  width: 30px;
  height: 30px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 50px solid #0dbf7a;
}
}
#cuffs {
  margin: auto;
  width: 100%;
  display: block;
}
#paul {
  margin-top: 20px;
  margin-left: 200px;
}
#couple {
  float: right;
}
